* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("../images/background.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 60vh;
    width: 60vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(
        circle at center,
        #4b2e1e 0%,   
        #3a2417 40%, 
        #1f140c 100%  
    );
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 10px;
}

#heading 













