* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("../images/background.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: radial-gradient(
        circle at center,
        #4b2e1e 0%,   
        #3a2417 40%, 
        #1f140c 100%  
    );
    padding: 20px;
    border-radius: 10px;
}

#heading {
    font-size: 24px;
    font-weight: bold;
    color: red;

}













