* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#shoes-image {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size:15px;
    border: none;
    border-radius: 10px;
    background-color: gr;
    color: white;
    cursor: pointer;
}

