* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    fle
    justify-content: center;
    align-items: center;
    color: whitesmoke
}

#shoes-image {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}