* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./subway.jpg");
    background-size: cover;
    color: whitesmoke
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    background-color: rgba(65, 61, 61, 0.5);
    border-radius: 20px;  
    padding: 30px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 60px;
}

#increment-btn {
    padding: 10px 20px;
    font-size:20px;
    border: none;
    border-radius: 10px;
    background-color: teal;
    color: white;
    cursor: pointer;
}



