* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./subway.jpg");
    background-size: cover;
    color: whitesmoke
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 60px;
}

increment-btn {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: teal;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



