* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: ;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./subway.jpg");
    background-size: cover;
    color: whitesmoke
}