* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-number {
    width: 200px;
    height: 40px;
    font-size: 18px;
    padding: 5px 10px;
    margin-bottom: 20px;
}