* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-number {
    font-size: 20px;
    margin-bottom: 10px;
}

input {
    width: 100px;
    text-align: center;
    font-size: 20px;
}

button {
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    font
}