* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: wheat
}

#apple-shelf {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    
    background-color: rgb(254, 113, 89);
}

#orange-shelf {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    display: flex;

    background-color: rgb(255, 193, 79);
}